#p1 h2 {
    margin-top: 70px;
}

.containerHead {
    text-align: center;
    margin-top: 15px;
}
.container p {
    text-align: justify;
}
.container img {
    max-width: 50%;
    max-height: 250px;
   float: left;
   padding: 20px;
}
#div {
    text-align: center;
}