.gallery {
    max-width: 80%;
    max-height: 300px;
    border: 5px solid white;
}

#fedras .col-4 {
    text-align: center;
}
.row .col-4 {
    text-align: center;
}


#fedras {
    color: white;
    padding: 20px;
}
#fedras > div {
    margin-left: auto;
    margin-right: auto;
}
.pozoriste div {
    margin-left: auto;
    margin-right: auto;
}

 .wrap .col-4 {
    margin-top: 10px;
}
.pozoriste {
    color: white;
    padding: 20px;
}
.faomc {
    color: white;
    padding: 20px;
}
.wrap {
    
    background: url(../img/footer1.jpg);
}
.jutjub {
    background-color: #DF292D;
    text-align: center;
    color: white;
    padding: 20px;
}
#p1 {
    margin-top: 100px;
}
.wrap2 {
    background-color: #DF292D;
    color: white;
    box-shadow: 10px 10px 8px 10px rgb(255, 255, 255), 0 6px 15px 0 rgb(255, 255, 255);
}

    .wrap2 > .row > .col-4 {
    text-align: center;
    padding: 40px;
   
    
}
.row h1 {
    box-shadow: 10px 10px 8px 10px rgba(255, 255, 255, 0.2), 0 6px 15px 0 rgba(255, 255, 255, 0.699);

}
.wrap-img {
    background-color: white;
    color: black;
}

.wrap-img img {
    max-width: 400px;
    max-height: 230px;
    margin: 5px;
    
}
.jutjub {
    background-color: white;
    color: red;
    padding: 20px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 8px rgba(250, 250, 250, 0.904);

}
.jutjub h2 {
    margin-top: 50px;
    font-weight: bold;
    letter-spacing: 2px;
}
.jutjub a {
    color: red;
    
}

/* @media only screen and (max-width: 1100px) {
    .wrap-img {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

} */

.gallery_container {
    /* background-image: url(../img/footer1.jpg);
    background-size: cover; */
    width: 100%;
    border: 0;
   
}

.gal_img {
    max-width: 90%;
    max-height: 90%;
    margin: 5px;
    padding: 5px;
}
/* .gallery_container > .col-4 {
    margin: 10px;
} */
#body > div.gallery_container > div.row {
    background-image: url(../img/footer1.jpg);
    background-size: cover;
}